---

---

<main>
	<div class="blog">
		<slot />
	</div>
</main>

<style>
	main {
		overflow: hidden;
		width: 80%;
		margin: 20px auto;
		border-radius: 25px;
		background-color: white;
	}
	.blog {
		overflow: hidden;
		margin: 30px 20px;
	}
</style>
