---
import { REPOSITORY, VERSION } from "../consts";
---

<footer class="bg-gray-700">
	<div>
		<a href={REPOSITORY.url}>
			<p>Wktk Tutorial@{VERSION}</p>
		</a>
	</div>
</footer>

<style>
	div {
		margin: 10px 0;
	}
	p {
		text-align: center;
		color: white;
	}
</style>
